<h1 class="">Contacto</h1>
<form >
  <div class="row">
      <div class="col-6" >
        <input type="text" id= 'nombre' class="dato form-control"  placeholder="Nombre" />
        <div id = 'mensajeError-nombre'> </div>
      </div> 
      
      <div class="col-6" >
          <input type="email" id="mail" class="dato form-control"  placeholder="E-Mail" />
          <div id = 'mensajeError-mail'></div>
        </div>   
  </div>
<br>
    </div class="col">
    <textarea class="dato form-control"
      id="comentarios"
      cols="30"
      rows="6"
      placeholder="Comentarios"
    ></textarea>
    <div id = 'mensajeError-comentarios'> </div>
  </div>
<br>
  <div class="row">
    <div class="col" >
      <button id ='botonEnviar' type="submit" class="btn btn-block btn-secondary " disabled>Enviar</button> 
      <!-- primary  para volverlo azul-->
      
    </div>
  </div>
</form>